#popup {
  width: 100%;
  height: 100%;
  background-color: rgba(207, 200, 200, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#sin_pop_div {
  width: 500px;
  height: 600px;
  background-color: white;
  opacity: 1;
  border-radius: 6px;
  text-align: center;
}
#sin_pop_div > #sigin > div {
  width: 80%;
  margin: 0 auto;
}
#pops {
  width: 100%;
  height: 100%;
  background-color: rgba(207, 200, 200, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#sup_pop_div {
  width: 500px;
  height: 600px;
  background-color: white;
  opacity: 1;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 6px;
  text-align: center;
}
#sup_pop_div > #sigup > div {
  width: 80%;
  margin: 0 auto;
}
#fmain {
  width: 100%;
}
#clo_divf {
  transform: rotate(45deg);
  cursor: pointer;
  font-weight: lighter;
  font-size: 60px;
}
#clo_divs {
  transform: rotate(45deg);
  cursor: pointer;
  font-weight: lighter;
  font-size: 55px;
}
#thirdp {
  width: 100%;
  height: 100%;
  background-color: rgba(207, 200, 200, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#thirdps {
  width: 500px;
  height: 250px;
  background-color: white;
  opacity: 1;
  border-radius: 6px;
}
#thirdps > div {
  width: 80%;
  margin: 0 auto;
}
