#popup{
    width: 100%;
    height: 100%;
    background-color:rgba(199, 176, 176, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#sin_pop_div{
    width: 500px;
    height: 600px;
    background-color: white;
    opacity: 1;
    border-radius: 6px;

}
#pops{
    width: 100%;
    height: 100%;
    background-color:rgba(199, 176, 176, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#sup_pop_div{
    width: 500px;
    height: 600px;
    background-color: white;
    opacity: 1;
    overflow: scroll;
    overflow-x: hidden; 
    border-radius: 6px;
}
#fmain{
    width: 100%;
}
#clo_divf{
    width: 50px;
    margin-top: 15px;
    margin-left: 470px;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
#clo_divs{
    width: 50px;
    margin-top: 15px;
    margin-left: 450px;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}