#popup{
    width: 100%;
    height: 100%;
    background-color:rgba(199, 176, 176, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#sin_pop_div{
    width: 500px;
    height: 600px;
    background-color: white;
    opacity: 1;

}
#pops{
    width: 100%;
    height: 100%;
    background-color:rgba(199, 176, 176, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#sup_pop_div{
    width: 500px;
    height: 600px;
    background-color: white;
    opacity: 1;
    overflow: scroll;
}
#fmain{
    width: 100%;
}