* {
  margin: 0px;
  padding: 0px;
}
#checkoutnavbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin: auto;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-right: none;
  border-left: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#checkoutnavbar > a {
  text-decoration: none;
  color: white;
}
#checkoutnavbar > a > label {
  color: white;
  margin-left: -14px;
}
#checkoutnavbar > a > i {
  color: black;
  font-size: 23px;
}
#checkoutnavbar > h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  margin-left: 5%;
}
#checkoutnavbar > a {
  margin-right: 5%;
}
#checkoutcontainer {
  width: 90%;
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 70px;
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
}
#checkoutcontainerleft {
  width: 70%;
}
#checkoutcontainerright {
  width: 30%;
  /* border: 1px solid green; */
}
#checouttopdiv {
  width: 90%;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#checouttopdiv > a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.884);
  text-decoration: none;
}
#checouttopdiv > label {
  font-size: 16px;
  margin-left: 14px;
  color: gray;
}
#guestdiv {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 3% 5%;
}
#guestdiv > p {
  margin-bottom: 2%;
}
#guestdiv > #guestinp {
  height: 37px;
  width: 50%;
}
#guestdiv > label {
  font-size: 11px;
  color: gray;
}
#shipdiv {
  width: 50%;
  border: 3px solid rgba(0, 0, 0, 0.822);
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgba(0, 0, 0, 0.89);
}
#shipdiv:hover {
  cursor: pointer;
  opacity: 0.5;
}
#shippingdiv {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
#shippingdiv > select {
  width: 50%;
  height: 40px;
  border: 1px solid none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
}
#infodiv {
  display: flex;
  gap: 30px;
}
#infodiv > div > input {
  width: 265px;

  height: 37px;
}
#locationinp {
  width: 83%;
  height: 40px;
}
#addressinp {
  width: 83%;
  height: 40px;
}
#zipinp {
  width: 50%;
  height: 40px;
}
#daytime {
  width: 50%;
  height: 40px;
}
#checkoutcontainerright {
  margin-top: 100px;
  height: 200px;
  position: fixed;
  margin-left: 65%;
  width: 20%;
}
#summary {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#checkdetails {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 100%;
  margin-top: 4%;
  padding: 10%;
  color: rgba(0, 0, 0, 0.808);
}
#checkdetails > div {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 4%;
}
#checkdetails > button {
  width: 85%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: black;
  margin-left: 7%;
  margin-top: 3%;
}
#checkdetails > hr {
  width: 85%;
  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 5%;
}
