*{
    margin: 0px;
    padding: 0px;
}
#uorewards1image{
    width: 100%;
    height: 250px;
    margin-top: 120px;
 
}
#uorewards1image:hover{
   opacity: 0.8;
}
#rewardscontainer>div{
  margin-bottom: 3%;
}
#rewardscontainer{
    width: 85%;
    /* border: 1px solid black; */
    margin: auto;
}
#pintsimage{
    width: 100%;
}
#earnwaysimage{
    width: 100%;
}
#rewardscontainertextdiv{
    width: 70%;
    margin: auto;
    text-align: center;
}
#rewardscontainertextdivp1{
    font-size: 30px;
    font-weight: bold;
    font-family: "Francois One", sans-serif;
    margin-bottom: 2%;
}
#rewardscontainertextdivp2{
    font-size: 24px;
    font-family: helvetica, arial, sans-serif;
}
#stardiv{
    width: 100%;
}
#givaways{
    width: 70%;
    margin: auto;
    text-align: center;
}
#giveawaysp1{
    font-size: 30px;
    font-weight: bold;
    font-family: "Francois One", sans-serif;
    margin-bottom: 2%;
}
#giveawaysp2{
    font-size: 24px;
    font-family: helvetica, arial, sans-serif;
}
#givawaysimgediv{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: scroll;
}
#givawaysimgediv::-webkit-scrollbar{
   display: none;
}
#givawaysimgediv>div>img{
    width: 360px;
    margin-top: -150px;
}
#happening{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Francois One", sans-serif;
}
#happeningdiv{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 15px;
     overflow-x: scroll;

}
#happeningdiv>img{
    width: 270px;
}
#downloadappimage{
    width: 100%;
}
#appstorediv{

    display: flex;
    gap: 40px;
}
#appstorediv>a>img{
    width: 100%;
}
#appstorediv>a>img:hover{
    cursor: pointer;
    opacity: 0.8;
}
#faqsdiv>img{
   width: 100%;
}
#readfaqsdiv>a>img{
    width: 100%;
}
#readfaqsdiv>a>img:hover{
    opacity: 0.8;
}
#givawaysimgediv1>div{
    position: fixed;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
}
#givawaysimgediv1p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv1p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}
#givawaysimgediv2>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv1>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv2p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv2p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}
#givawaysimgediv3>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv3p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv3p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}
#givawaysimgediv4>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv4p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv4p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}
#givawaysimgediv5>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv5p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv5p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}
#givawaysimgediv6>div{
    margin-left: 2%;
    margin-top: 8%;
    position: fixed;
    position: relative;
}
#givawaysimgediv6p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4%;
}
#givawaysimgediv6p2{
    color: white;
    font-size: 20px;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}