div,
ul,
li {
  border: 1px dashed black;
}

/* #navbar {
  height: 100px;
  position: fixed;
  top: 0;
  margin: 0%;
  width: 100%;
} */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  width: 100%;
  height: 75px;
  /* background: #2c3e50; */
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #1a252f;
}

.nav-bar ul {
  list-style: none;
  width: 90%;
  height: 100%;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.nav-bar ul li {
  width: 65px;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 9px;
  line-height: 17px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.7s ease;
  color: black;
}

.nav-bar ul li:first-child {
  width: 280px;
  padding: auto 0%;
  margin-left: 0px;
  margin-right: 200px;
  font-size: 16px;
}

.nav-bar ul li:last-child {
  margin-right: 0;
}

.nav-bar ul li:hover {
  color: #707070;
}

/* .nav-bar ul li:hover .mega-menu {
  color: #707070;
} */

.nav-bar ul li .mega-menu p:hover {
  color: #707070;
}

.header-banner {
  background: white;
  width: 100%;
  height: 320px;
}

.mega-menu {
  position: absolute;
  top: 65px;
  left: 0;
  width: 1000px;
  height: 250px;
  /* background: #2c3e50; */
  opacity: 0;
  visibility: hidden;
  /* transition: all 0.2s ease; */
  box-sizing: border-box;
  padding: 40px;
  color: black;
  font-size: 10px;
}

.nav-bar ul li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.inner-mega-menu {
  border: 1px solid red;
  width: 24%;
  float: left;
  margin-right: 1%;
}

.inner-mega-menu p {
  padding: 10px 0;
  transition: all 0.7s ease;
}

.inner-mega-menu:last-child {
  margin-right: 0%;
}

#body {
  height: 400px;
}
